body {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0em;
}

header{
    background-color: tan;
    padding: 0 1% 1% 1%;
}

main {
    margin: 1%;
}

footer {
    background-color: tan;
    padding: 1%;
    padding-top: 1px; 
    padding-bottom: 1px; 

}

header h1{
    margin-top: 0em;
}

/*////////////////////////////////////////////////////
                TABLES
////////////////////////////////////////////////////*/                

/* general for table */

table {
    border-collapse: collapse;
    font-size: 14px;
}

/*General for rows, column headers and cells
  It only apllies since child's table down */

  table * {
    border: 1px;
    border-style:solid;
    border-color: gray;
    padding: 0.3em; 
}

/* specific for only column headers. It inherits from the above what was not specified */

table th {
    text-align: center;
    font-weight: bold;
    background-color: rgb(212, 212, 212);
    color: black;
    font-size: 16px;
}

/* specific for numeric cels (class="numericcells")*/
.numericcells {
    text-align: right;
    padding-left: 5em;
}

